<div class="jumbotron">
  <h2>Patient Details</h2>
  <hr class="my-4">
  <p class="lead">

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>Health:</strong>
  <%= @patient.health %>
</p>


  </p>
</div>

<div class="jumbotron">
  <h2>Comments</h2>
  <hr class="my-4">
  <p class="lead">
    <%= render @patient.comments %> 
  </p>
</div>


<div class="jumbotron">
  <h2>Add a Comment:</h2>
  <hr class="my-4">
  <p class="lead">
  <%= render 'comments/form' %> 

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>

<br><br>

<h2>Enter Health Issue:</h2>

  <%= form_tag "/validate" do %>
  <%= text_field_tag :search_string %>
  <%= submit_tag "Enter", class: "btn btn-outline-success my-2 my-sm-0" %>
  <% end %>
  
  <p>Suggested prescription(s):</p>

  <p class="notice"><%= notice %></p>
  </p>
</div>