<!DOCTYPE html>
<html>
  <head>
    <title>SHC-PMS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  </head>

  <body>
    <div class="container">
      
     <!-- <div class = container>
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#" id="First">SHC-PMS</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
       <li>
     <%= render 'devise/menu/login_items' %>
       </li>
      <a class=" py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="FirstHeading">
        <li>
          <%= render 'devise/menu/registration_items' %>
            </li>     
             <a class=" py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="FirstHeading">
              <% if user_signed_in? %>
         <li>
            <%= link_to 'My Profile', user_path(current_user) %>
        </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>-->

      
      
    
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://projectcc-x14521.c9users.io/">  SHCPMS</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link">
        <%= render 'devise/menu/login_items'%> 
      </li>
      </a>
      <li class="nav-item">
        <a class="nav-link">
        <%= render 'devise/menu/registration_items' %> 
      </li>
      </a>
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort Patients
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav> 
    
    
    <%= yield %>
    
        <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; SHCPMS</p>
      </div>
    </footer>
    
    
<!--    
     <nav role="navigation">
    <div class="inner">
    <a href="#nav" class="nav-collapse" id="nav-collapse">Menu</a>
    <ul class="nav" id="nav">-->
<!--    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
    </ul>
    </div>
    </nav> -->
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       </div>
  </body>
</html>